{{$title := ToLower (Base .Title)}}
---
id: documentation
title: {{$title}}
sidebar_label: {{$title}}
---

{{range $val := Packages .Module}}{{end}}
## Integration Diagram
<img src="{{CreateIntegrationDiagram .Module .Title false}}">

## End Point Analysis Integration Diagram
<img src="{{CreateIntegrationDiagram .Module .Title true}}">
