{{$title := ToLower (Base .Title)}}
---
id: documentation
title: {{$title}}
sidebar_label: {{$title}}
---

| Package |
----|{{range $key, $val := Packages .Module}}
[{{$val}}]({{$val}}/README.md)|{{end}}

## Integration Diagram
<img src="{{CreateIntegrationDiagram .Module .Title false}}">

## End Point Analysis Integration Diagram
<img src="{{CreateIntegrationDiagram .Module .Title true}}">